body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,span,em,strong,img,form,fieldset,input,textarea,button,pre,table,tr,th,td,blockquote,code,label,cite,i,dialog,figure,hgroup{padding:0;margin:0;}
body{ font-size:12px; font-family:微软雅黑; background:#d1d1d1 }
:focus{outline:0;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
fieldset,img{border:0;}
ul,ol,li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,tr,td{text-align:left;}
u,ins{text-decoration:none;}
label{cursor:pointer;}
select,input,img{vertical-align:middle;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;resize:none;}
a{ text-decoration:none}
.fl{ float:left}
.fr{ float:right}
.location{ width:960px; margin:auto; height:38px; line-height:38px; color:#333; font-size:12px;}
.location a{color:#333;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { zoom: 1; display: inline-block; _height: 1px }
*html .clearfix { height: 1% }
*+html .clearfix { height: 1% }
.clearfix { display: block }


.top{ width:100%; height:37px; line-height:37px; position:fixed; z-index:9; left:0; top:0; opacity: 0.5; background:#fff;}
.top1{width:100%; height:37px; line-height:37px; position:fixed; z-index:99999; left:0; top:0;}
.top_box{ width:1000px; height:37px; line-height:37px; background:url(../images/top_bg.png) no-repeat; margin:auto; color:#585858}
.t_menu{ width:395px; height:37px; float:left}
.t_menu a{ display:inline-block; font-size:16px; color:#000; padding:0 12px; line-height:32px;}
.t_info{ width:435px; height:37px; float:left; color:#ff6600; font-size:14px; line-height:32px; text-align:center}
.t_login{ width:165px; padding-left:5px; height:37px; float:left}
.t_login a{ width:77px; height:31px; line-height:31px; display:block; float:left; margin:2px; text-align:center; color:#fff; font-size:16px;}
.t_login .reg{ background:#ff6600;}
.t_login .login{ background:#ababab;}
.adv_bg{ width:100%; height:auto;}
.adv{ width:100%; display:block; position:absolute; z-index:1; top:0; left:0}

.main{ width:1000px; margin:auto; position:relative; z-index:999;}
.index_head{ width:1000px; height:250px; margin:auto; position:relative;}
.index_head_bg{ width:1000px; height:250px; position:absolute; left:0; top:0; z-index:1; opacity:0.5; background:url(../images/index_head_bg.png) no-repeat;}
.index_head_warp{ width:1000px; height:250px; position:absolute; left:0; top:0; z-index:2;}
.head{ width:1000px; height:52px; padding-bottom:10px; background:url(../images/head_bg.png) no-repeat}
.logo{ width:217px; height:50px; float:left; margin:2px 0 0px 28px; display:block; background:url(../images/logo.png) no-repeat;}
.menu{ width:754px; height:52px; float:left; border-left:1px solid #dedede;}
.menu a{ width:64px; height:52px; line-height:52px; float:left; padding:0; margin:0; font-size:16px; color:#000; border-right:1px solid #dedede; text-align:center}
.menu a:hover{ color:#ff6600;}
.menu a.cur{ color:#666;background:url(../images/menu_cur.png) repeat-x; border-left:1px solid #c7c7c7; border-right:1px solid #c7c7c7;}
.search{ width:662px; height:35px; padding:13px 0 14px 0; margin:auto}
.search_box{ width:565px; padding:0 5px; height:33px; line-height:33px; background:#fff; border:1px solid #bbb; float:left}
.search_select{ width:55px; padding-left:6px; height:33px; background:url(../images/search_select.png) no-repeat; cursor:pointer; line-height:33px; position:relative; float:left}
.search_select span{ color:#bbb; font-size:14px;}
.search_select ul{ width:61px; border:1px solid #bbb; position:absolute; z-index:9; top:33px; left:-6px; background:#fff; display:none;}
.search_select ul li{ width:61px; height:22px; line-height:22px; display:block; text-align:center; color:#bbb;}
.search_select ul li:hover{ color:#fff; background:#ff6600;}

.search_input{ width:490px; padding-left:10px; height:33px; line-height:33px; float:left; border:none;}
.search_btn{ width:85px; height:35px; line-height:35px; color:#fff; background:#ff6600; font-size:16px; border:none; cursor:pointer; float:left;}
.tj_app{ width:1000px; height:126px; position:relative}
.tj_app_list{ width:1000px; height:125px;}
.tj_app_list ul { width:1000px; height:125px; display:table-cell; vertical-align:bottom}
.tj_app_list ul li{ width:111px; height:101px; padding-bottom:10px; display:table-cell; text-align:center; vertical-align:bottom}
.tj_app_list ul li img{ width:74px; height:74px; border-radius:0.5em;}
.tj_app_name{ width:1000px; height:26px; line-height:26px; background:url(../images/app_name_bg.png) repeat-x; position:absolute; z-index:9; left:0; bottom:0} 
.tj_app_name span{ width:111px; height:26px; line-height:26px; display:block; float:left; text-align:center;}
.tj_app_name span a{ font-size:12px; color:#333}
.main_box{ width:1000px; padding-bottom:38px; background:#fff url(../images/main_bottom.png) repeat-x bottom}
.banner{ width:1000px; height:356px; background:url(../images/banner_bg.png) repeat-x; padding-top:31px; margin-bottom:13px;}
.i_banner{ width:658px; height:356px; float:left; margin-left:8px;}
.slider_box{width:658px; margin:0 auto;height: 356px;overflow: hidden;position: relative; background:#000}
.silder_con{height:295px;overflow: hidden;position: absolute;}
.silder_panel{width:658px;height:295px;overflow: hidden;float: left;position: relative;background: #111;}
.silder_panel img{width: 658px;height: 295px;display: block;overflow: hidden;}
.silder_intro{width:658px;height:38px;line-height: 38px;overflow: hidden;color: #999; position:absolute; right:0; bottom:0; z-index:9}
.silder_intro p{ width:650px; padding:0 4px; height:38px;overflow: hidden;color:#787878; line-height:30px; display:block; background:#000; color:#fff;}
.silder_play{display: block;width:136px;height:30px;overflow: hidden;text-indent: -999px;position: absolute;bottom: 13px;right: 45px;background: url(../images/silder-play.png) 0 -30px no-repeat;}	
.silder_play:hover{ background-position: 0 0;}
.silder_nav{width:658px;height:64px;margin: 0 auto;bottom: 0;position: absolute;}
.silder_nav li{float: left;padding:0px; margin:2px 3px;width:87px;height:52px; padding-top:8px}
.silder_nav li.current{ width:87px;height:52px; padding:8px 3px 3px 3px; background:url(../images/current.png) no-repeat;}
.silder_nav li,.silder_nav img{display: block;width:87px;height:52px;overflow: hidden;}
.silderBox{height:8px; line-height:8px;}
.compere{ width:322px; height:356px; float:left; margin-left:8px;}
.compere dl{ width:157px; height:136px; display:block; float:left; margin-right:3px; margin-bottom:22px;}
.compere dl dt{ width:157px; height:109px;}
.compere dl dt img{ width:157px; height:109px;}
.compere dl dd{ width:157px; height:27px; line-height:27px; font-size:14px; color:#333;}
.index_con{ width:1000px; margin:auto}
.new_game{ width:984px; margin:auto; margin-top:13px;}
.new_game_l{ width:659px; float:left}
.new_game_l .title{ width:653px; height:30px; padding-left:6px; line-height:30px; color:#ff6600; font-size:16px; font-weight:bold;}
a.more{ float:right; color:#666; font-size:14px; font-weight:normal}
.g_video_list{ width:659px;}
.g_video_list dl{ width:213px; height:auto; margin-right:9px; margin-bottom:16px; float:left; position:relative;}
.g_video_list dl:hover .play_sl{height:24px; padding-left:25px; background:url(../images/p_icon_h.png) left center no-repeat; margin-right:20px; color:#ff6600}
.g_video_list dl:hover .zan_sl{height:24px; padding-left:25px; background:url(../images/zan_icon_h.png) left center no-repeat; color:#ff6600}
.g_video_list dl:hover dt{ color:#ff6600}
.g_video_list dl .video_mask{ width:213px; height:136px; background:url(../images/video_box_mask.png) no-repeat; position:absolute; top:0; left:0; z-index:3; display:none;}
.g_video_list dl .video_time{ height:26px; line-height:26px; padding:0 10px 0 25px; background:#e96c13 url(../images/time.png) no-repeat 5px center; position:absolute; top:110px; right:0; z-index:4; color:#fff; display:none}
.g_video_list dl:hover .video_mask{ display:block;}
.g_video_list dl:Hover .video_time{ display:inline-block;}
.video_box{ width:213px; height:136px;}
.video_box img{ width:213px; height:136px;}
.g_video_list dl dt{ width:213px; height:30px; line-height:30px; display:block; font-size:12px; color:#333}
.g_video_list dl dd{ width:213px; height:24px; line-height:24px; display:block}
.g_video_list dl dd span{ display:inline-block;}
.play_sl{ height:24px; padding-left:25px; background:url(../images/p_icon.png) left center no-repeat; margin-right:20px; color:#999}
.zan_sl{ height:24px; padding-left:25px; background:url(../images/zan_icon.png) left center no-repeat; color:#999}
.three{ width:659px;}
.four{ width:882px;}
.new_game_r{ width:300px; height:612px; float:right; position:relative;}
.n_g_br{ border-left:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3}
.new_game_r .title{ width:299px; height:32px; line-height:32px; position:absolute; top:0; left:0; z-index:9}
.new_game_r .title span{ width:117px; height:32px; line-height:32px; background:#e3e3e3; color:#333; display:block; float:left; text-align:center; cursor:pointer}
.new_game_r .title span:hover,.new_game_r .title span.hover{ width:117px; height:31px; line-height:32px; background:#fff; border-top:1px solid #ff6600; border-right:1px solid #e3e3e3; color:#ff6600; font-size:14px; font-weight:bold; cursor:pointer}
.new_game_r .con{ width:298px; margin-top:31px; height:580px; border-right:1px solid #e3e3e3; border-top:1px solid #e3e3e3}
.new_game_r .con ul{ width:298px;}
.new_game_r .con ul li{ width:270px; height:64px; line-height:82px; border-bottom:1px solid #e3e3e3; padding:9px 14px; display:block;}
.new_game_r .con ul li:hover{ width:270px; height:68px; line-height:82px; border-bottom:1px solid #e3e3e3; padding:7px 14px; display:block;}
.new_game_r .con ul li img{ width:97px; height:63px; float:left}
.new_game_r .con ul li:hover img{ width:103px; height:67px; float:left;}
.new_game_r .con ul li dl{ width:140px; height:44px; display:block; float:left; margin-left:14px; margin-top:5px;}
.new_game_r .con ul li dl dt{ width:140px; height:26px; line-height:26px; overflow:hidden; display:block;text-overflow:ellipsis; color:#333; font-weight:bold}
.new_game_r .con ul li dl dd{ height:18px; line-height:18px; color:#999}
.new_game_r .con ul li:hover dl dt{ color:#ff6600; }
.new_game_r .con ul li:hover dl dd span{ color:#ff6600;background:url(../images/p_icon_h.png) left center no-repeat}
.new_game_r h3{ color:#ff6600; width:300px; height:30px; line-height:30px; font-size:16px; font-weight:bold}
.d4x_banner{ width:1000px; height:183px; border-top:6px solid #e3e3e3; border-bottom:6px solid #e3e3e3;}
.right_hd{ width:300px; height:408px;}
.hd_con,.hd_con1{ width:298px; height:376px; border:1px solid #e3e3e3; border-bottom:none;}
.hd_con ul{}
.hd_con ul li,.hd_con1 ul li{ width:280px; height:165px; padding:11px 9px; border-bottom:1px solid #e3e3e3; position:relative}
.hd_con ul li .hd_info,.hd_con1 ul li .hd_info{display:none; position:absolute; left:0; bottom:0; z-index:9;}
.hd_con ul li .hd_word,.hd_con1 ul li .hd_word{display:none; position:absolute; left:0; bottom:0; z-index:9;}

.hd_con ul li:hover .hd_info,.hd_con1 ul li:hover .hd_info{ width:240px; padding:0 20px; height:60px; display:none; overflow:hidden; position:absolute; left:9px; bottom:11px; z-index:9; background:#e95f04; opacity: 0.5; display:block;}
.hd_con ul li:hover .hd_word,.hd_con1 ul li:hover .hd_word{ width:240px; padding:0 20px; height:60px; display:none; overflow:hidden; position:absolute; left:9px; bottom:11px; z-index:9; background:#e95f04; display:block; color:#fff;}
.hd_con ul li:hover .hd_word h6,.hd_con1 ul li:hover .hd_word h6{ font-size:16px; height:36px; line-height:36px; font-weight:bold}
.hd_con ul li:hover .hd_word span,.hd_con1 ul li:hover .hd_word span{ font-size:14px;}

.hd_con ul li:hover .hd_info,.hd_con1 ul li:hover .hd_info{}
.hd_con ul li img,.hd_con1 ul li img{ width:280px; height:165px;}
.hd_slide{ width:300px; height:32px; background:#e3e3e3}
.hd_slide div,.hd_slide1 div{ width:75px; height:32px; float:left; cursor:pointer}
.s_one{ background:url(../images/s1234.png) no-repeat 0 -32px;}
.s_one:hover,.s_one.hover{background:url(../images/s1234.png) no-repeat 0 0}
.s_two{ background:url(../images/s1234.png) no-repeat -75px 0px;}
.s_two:hover,.s_two.hover{ background:url(../images/s1234.png) no-repeat -75px -32px;}
.s_three{ background:url(../images/s1234.png) no-repeat -150px 0px;}
.s_three:hover,.s_three.hover{ background:url(../images/s1234.png) no-repeat -150px -64px;}
.s_four{ background:url(../images/s1234.png) no-repeat -225px 0px;}
.s_four:hover,.s_four.hover{ background:url(../images/s1234.png) no-repeat -225px -96px;}
.yule_xh{ width:74px; height:384px; background:#e3e3e3; position:absolute; top:30px; right:0; z-index:9}
.yule_xh div{ width:74px; height:95px; cursor:pointer}
.b_one{ background:url(../images/b_123.png) no-repeat -74px 0;}
.b_one:hover,.b_one.hover{ background:url(../images/b_123.png) no-repeat 0 0;}
.b_two{ background:url(../images/b_123.png) no-repeat 0 -95px;}
.b_two:hover,.b_two.hover{ background:url(../images/b_123.png) no-repeat -74px -95px;}
.b_three{ background:url(../images/b_123.png) no-repeat 0 -190px;}
.b_three:hover,.b_three.hover{ background:url(../images/b_123.png) no-repeat -148px -190px;}
.gd{ width:74px; height:95px; line-height:95px; text-align:center; display:block;}
.gd a{ font-size:14px; color:#666; text-align:center}

.link_img{ width:940px; margin:auto; background:#e7e7e7 url(../images/link_img.png) repeat-x bottom; padding:20px 30px;}
.link_img ul{ width:936px; margin:auto;}
.link_img ul li{ width:94px; height:40px; float:left; padding:10px 5px;}
.link_img ul li img{ max-width:94px;}

.link_word{ width:1000px; margin:auto; background:url(../images/link_word.png) repeat-y;}
.link_word ul{}
.link_word ul li{ width:165px; height:26px; line-height:26px; color:#fff; text-align:center; margin-right:2px; float:left}
.link_word ul li a{ color:#fff;}
.foot{ width:1000px; height:36px; line-height:36px; text-align:center; margin:auto; color:#333; font-size:14px;}
.foot a{ color:#ff6600;}

.duilian_adv_left{ width:200px; height:790px; position:absolute; z-index:1000}
.duilian_adv_right{ width:200px; height:790px; position:absolute; z-index:1000}
.duilian_adv_left div,.duilian_adv_right div{ position:relative}
.closed{ width:12px; height:11px; background:url(../images/close_adv.png) no-repeat; position:absolute; top:5px; right:5px; z-index:1001; display:block; border:1px solid #fff}


.top_banner{ width:1000px; height:130px; margin:auto; margin-top:37px;}
.top_banner img{ width:1000px; height:130px;}
.sub_warp{ width:1000px; margin:auto; position:relative}
.sub_head_bg{ width:1000px; height:60px; position:absolute; left:0; top:0; z-index:1; opacity:0.5; background:url(../images/index_head_bg.png) no-repeat;}
.zt_list{ width:984px; margin:auto}
.zt_list dl{ width:314px; height:201px; display:block; position:relative; float:left; margin:0 20px 20px 0;}
.zt_list dl dt{ width:314px; height:30px; line-height:30px; background:#000; position:absolute; opacity:0.5; z-index:9; bottom:0px; left:0px; display:block;}
.zt_list dl span{ width:304px; padding:0 5px; overflow:hidden; height:30px; line-height:30px; color:#fff; position:absolute; bottom:0px; left:0px; z-index:10; display:block;}
.zt_list dl dd{ width:314px; height:201px; display:block;}
.zt_list dl dd img{ width:314px; height:201px;}
